.mokp-card {
  background-color: var(--mokp-card-bg);
  border: 1px solid var(--mokp-card-divider);
  border-radius: var(--mokp-radius);
  color: var(--mokp-card-fg);
  padding: 16px;

  &+.mokp-card {
    margin-top: 16px;
  }
}
