.mokp-link {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  transition: color 0.3s, opacity 0.3s, gap 0.3s;

  &:not(.mokp-disabled):hover {
    opacity: 0.8;
  }

  &.mokp-disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
  }

  &-hover {
    &-accent {
      &:hover {
        color: var(--oyk-c-accent);
      }
    }
  }
}
