:root {
  --mokp-core-bg: #181818;
  --mokp-core-fg: #E5DAD0;
  --mokp-card-bg: #202020;

  background-color: var(--mokp-core-bg);
  color: var(--mokp-core-fg);

  font-family: "Roboto Condensed", system-ui, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

body {
  background-color: var(--mokp-core-bg);
  color: var(--mokp-core-fg);
  overflow: hidden;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

button {
  background-color: var(--mokp-card-bg);
  border-radius: 4px;
  border: none;
  color: var(--mokp-core-fg);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s;
  padding: 8px 16px;

  &:hover {
    background-color: #303030;
  }

  &:active {
    background-color: #202020;
  }
}

.mokp-core {
  display: grid;
  grid-template-areas:
    "sideleft topbar sideright"
    "sideleft main sideright"
    "botbar botbar botbar";
  grid-template-columns: 120px 1fr 120px;
  grid-template-rows: auto 1fr 48px;
  height: 100vh;
  width: 100vw;
}

.mokp-core-topbar {
  background-color: transparent;
  grid-area: topbar;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 4px;

  &-villagers {
    --mokp-villager-width: 48px;
    --mokp-villager-bars-width: 4px;
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;

    &-item {
      text-align: center;
      display: flex;
      flex-basis: calc(var(--mokp-villager-width) + var(--mokp-villager-bars-width));
      flex-direction: column;
      flex-grow: 0;
      flex-shrink: 1;
      align-items: center;
      justify-content: center;
      gap: 4px;
      position: relative;
      padding: 0;
      margin: 0;
      transition: transform 0.2s;

      &:hover {
        cursor: pointer;
        transform: translateY(-2px);
      }

      &:active {
        opacity: 0.8;
      }

      &-card {
        background-color: var(--mokp-card-bg);
        border-radius: 4px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1 / 1;
        position: relative;
        width: 100%;
        max-width: calc(var(--mokp-villager-width) + var(--mokp-villager-bars-width));

        &-health {
          background-color: #292929;
          font-size: 0;
          line-height: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-end;
          flex-basis: var(--mokp-villager-bars-width);
          flex-grow: 0;
          flex-shrink: 0;
          width: var(--mokp-villager-bars-width);
          height: 100%;

          &-bar {
            background-color: #2d543b;
            font-size: 0;
            line-height: 0;
            display: block;
            width: var(--mokp-villager-bars-width);
            height: 100%;
          }
        }

        &-avatar {
          display: flex;
          flex-basis: 100%;
          flex-grow: 0;
          flex-shrink: 1;
          align-items: center;
          justify-content: center;
        }
      }

      &-name {
        font-size: 10px;
        font-weight: 400;
        line-height: 1.2;
        text-align: center;
        width: 100%;
        max-width: var(--mokp-villager-width);
        margin: 0;
        padding: 0;

        > span {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          display: block;
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
}

.mokp-core-sideleft {
  background-color: transparent;
  grid-area: sideleft;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &-content {
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2;
    text-align: right;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin: 0;
  }
}

.mokp-core-sideright {
  background-color: transparent;
  grid-area: sideright;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &-content {
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2;
    text-align: left;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin: 0;
  }
}

.mokp-core-main {
  background-color: transparent;
  grid-area: main;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.mokp-core-botbar {
  background-color: var(--mokp-card-bg);
  grid-area: botbar;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}